@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@using CMS.Services
@inject IAuthorizationService Authorization
@{
    var canEdit = (await Authorization.AuthorizeAsync(User, MyIdentityDataService.BlogPolicy_Edit)).Succeeded;
    var canDelete = (await Authorization.AuthorizeAsync(User, MyIdentityDataService.BlogPolicy_Delete)).Succeeded;
    var canAdd = (await Authorization.AuthorizeAsync(User, MyIdentityDataService.BlogPolicy_Add)).Succeeded;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CMS</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito|Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>



    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div>
            <ul class="navbarUl">
                <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo2.png" height="50px" width="190px" id='logo' /></a>

                <li class="navbarLi"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="navbarLi"><a asp-area="" asp-controller="Home" asp-action="BuildPage">Page Builder</a></li>
                <li class="navbarLi"><a asp-controller="Home" asp-action="ListofPages">List Of Pages</a></li>
                @if (canAdd && canEdit)
                {
                    <li style="background-color:green" class="navbarLi"><a asp-area="" asp-controller="UserManager" asp-action="GetUserLists">User Manager</a></li>
                }
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="navbarLi" style="float:right">
                        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button class="navbarButton" type="submit">Logout</button>
                        </form>
                    </li>
                    <li class="navbarLi" style="float:right">
                        <a asp-controller="Home" asp-action="Profile" title="Manage">Hello @User.Identity.Name!</a>
                    </li>

                }
                else
                {
                    <li class="navbarLi" style="float:right">
                        <a asp-area="Identity" asp-page="/Account/Register">Register</a>
                    </li>
                    <li class="navbarLi" style="float:right; background-color:#27b0c9">
                        <a asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </li>
                }

            </ul>
        </div>
    </header>
    <div class="container">
        <main>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" style="color: white">
            &copy; 2019 - CMS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    @RenderSection("Scripts", required: false)
</body>
</html>
